body{
  background: black;
  height: 100%;
}
.bars{
  position: absolute;
  top: 70px;
  left: 1180px;
}

.bars ul li{
  display: inline;
  padding-left: 30px;
  font-size: 20px;
  font-family: Optima;
}

.bars ul li a{
  color: #8E008E;
    text-decoration: none;
}

.bars ul li a:hover{
  font-weight: bold;
}

.s2 h1{
  position: absolute;
  color: #8E008E;
  top: 10%;
  left: 50%;
  font-size: 46px;
  transform: translate(-50%,-70%);
}

.center{
  position: absolute;
  color: white;
  padding-right: 10px;
  top: 130px;
  left: 280px;
}

.circle {
  position: absolute;
  height: 275px;
  width: 275px;
  top: -580px;
  left: 595px;
  background-color: black;
  border-radius: 50%;
}
.img-fluid{
  transform: translate(-10%,-3%);
}

.img-bag{

  position: absolute;
  top: 100px;
  left: 200px;
  opacity: 0.5;
  filter: brightness(70%);
}

.img-best{
  position: absolute;
  top: -355px;
  left: 255px;
}

.img-limit{
  position: absolute;
  top: -205px;
  left: 800px;
}

.img-solid{
  position: absolute;
  top: -580px;
  left: 435px;
}

.img-sing{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-70%);
}

.img-g4{
  position: absolute;
  top: 600px;
  left: 1000px;

}

.img-g5{
  position: absolute;
  top: 330px;
  left: 150px;
}

.img-g6{
  position: absolute;
  top: 330px;
  left: 990px;

}

.animate__animated.animate__slideInLeft {
  --animate-duration: 4s;
}

.animate__animated.animate__backInDown {
  --animate-duration: 3s;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 2s;
}








#menu{
    position: absolute;
	width: 35px;
	height: 30px;
	margin: 95px 0px 20px 60px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #8E008E;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}

#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 130px 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 40px 0px 20px 15px;
	background: radial-gradient(circle,#8E008E,#b81568);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}
